.inferior {
    background-color: #333;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    border-color: white;
}

.codepenfor {
    padding: 10px;
    padding-right: 50px;
}

.codepenfor {
    border-right: 2px solid #888;
   
}

.codepenfor:last-child {
    border-right: none;
}


.codepenfor:first-child {
    margin-left: 5px; 
}

.cpft,
.cpfe,
.cpfp,
.cpfw {
    font-size: 25px;
    font-weight: bold;
}
